<a href="https://colab.research.google.com/github/yun-aha/GSTEC/blob/main/210706.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. 빅데이터 분석

In [ ]:
#SQLite는 부울이 없는 대신 integer로 대체

CREATE TABLE test (
		id INTEGER PRIMARY KEY AUTOINCREMENT,     
		a VARCHAR(255),
    		b VARCHAR(255)
		);
SELECT name FROM sqlite_master WHERE type = 'table';
SELECT*FROM sqlite_sequence;
#sqlite_sequence에 autoincrement가 적용된 열의 최대값이 저장
#나중에 autoincrement가 적용될때 sqlite_sequence+1이 부여된다.

In [ ]:
#테이블을 생성한 후 구조를 바꾼다는 것 = 열을 추가하는 거(행 추가,삭제는 구조를 바꾼다고 하지 않는다)
CREATE TABLE test (
		id INTEGER PRIMARY KEY AUTOINCREMENT,       
		a VARCHAR(255),
    		b VARCHAR(255)
		);
ALTER TABLE test ADD COLUMN c VARCHAR(100);      #테이블이 생성된 후 열을 추가하는 법 
INSERT INTO test VALUES ( 1, "John", "Male", "True");
INSERT INTO test VALUES ( 2, "Mary", "Female", "False");

#sql lite에서는 열(컬럼)을 삭제할 수 없다. but, test를 바탕으로 새로운 테이블을 만들 수 있다.
CREATE TABLE test2 AS SELECT id, a, b FROM test;
DROP TABLE test;
ALTER TABLE test2 RENAME TO test;  #새 테이블 이름 변경
SELECT * FROM test;

In [ ]:
#BOOLEAN 자료형 표현
#0,1깢지만 자료형을 받는다.
CREATE TABLE myTB (
		aColumn BOOLEAN NOT NULL CHECK (aColumn IN (0,1))     #0,1이외의 값은 reject되도록 정의
		);
INSERT INTO myTB VALUES (0);	
INSERT INTO myTB VALUES (1);		
INSERT INTO myTB VALUES (2);	  #ERROR

In [ ]:
#FOREIGN KEY를 사용하여 테이블 사이의 관계 설정.
#일종의 제약 (constraint) 역할을 함.
CREATE TABLE Franchisee (
  FranchiseeID    INTEGER PRIMARY KEY, 
  FranchiseeName  TEXT NOT NULL
);
INSERT INTO Franchisee VALUES (111,"John");		#데이터를 입력해 둔다.
INSERT INTO Franchisee VALUES (112,"Paul");		
INSERT INTO Franchisee VALUES (113,"David");

#Store 테이블의 FranchiseeID와 Franchisee 테이블의 FranchiseeID 연결.
CREATE TABLE Store (
  StoreID     INTEGER PRIMARY KEY, 
  StoreName   TEXT NOT NULL,
  FranchiseeID INTEGER NOT NULL,
  FOREIGN KEY(FranchiseeID) REFERENCES Franchisee(FranchiseeID)
);   
INSERT INTO Store VALUES (1,"711 Gangnam", 111);
INSERT INTO Store VALUES (2,"711 Munjeong", 111);
INSERT INTO Store VALUES (3,"711 Suyu", 113);	
INSERT INTO Store VALUES (4,"711 Youido", 114);    #ERROR - 114는 Franchisee id에 없다.
DROP TABLE Franchisee;     #Franchisee먼저 삭제할 수 없다.(데이터를 넘겨주고 있기 때문)
DROP TABLE Store;          #먼저 삭제 가능


# + id는 index로 unique하도록 사용

In [ ]:
#테이블 JOIN
#왼쪽 테이블과 오른쪽 테이블의 공통 값(ON조건에 해당하는 값)으로 INNER JOIN
SELECT a.name, b.item_id, b.quantity, b.price FROM customer AS a INNER JOIN sale AS b ON a.id = b.customer_id;

#LEFT JOIN   왼쪽행은 모두 가져오고 오른쪽 행은 ON조건에 해당하는 것만 가져온다.
SELECT a.name, b.item_id, b.quantity, b.price FROM customer AS a LEFT  JOIN sale AS b ON a.id = b.customer_id;

#SQLite에서는 RIGHT JOIN과 FULL OUTER JOIN 지원하지 않는다. 
# -> 데이터의 위치를 바꿔줌으로써 left join만으로 right join 효과..

#+++++++++++++++++++++++++++++++++++++++++++
#세가지 열을 합칠 때
#1. innerjoin을 이어서
SELECT a.name,b.item_id,b.quantity,b.price,c.name as 'item_name',c.description FROM customer AS a INNER JOIN sale AS b
INNER JOIN item AS c ON a.id=b.customer_id AND c.id=b.item_id;

#2. query 안에 query 
SELECT와 INNER JOIN (SELECT)
#3. view를 이용
CREATE ViEW myView AS SELECT a.name,b.item_id,b.quantity,b.price FROM customer AS a INNER JOIN sale AS b ON a.id=b.customer_id;
SELECT*FROM myView As a INNER JOIN item AS b ON a.item_id=b.id;

In [ ]:
#view는 select query자체를 저장
CREATE VIEW myView1 AS SELECT Name AS Country, Population / 1000 AS "Pop (1000s)" FROM Country;
CREATE VIEW myView2 AS SELECT Name, Continent, Population FROM Country WHERE Population < 100000 ORDER BY Population DESC;
CREATE VIEW myView3 AS SELECT Name, Continent FROM Country WHERE Name LIKE '_a%';

SELECT * FROM myView1;
SELECT * FROM myView2;
SELECT Name as CountryName FROM myView3;

DROP VIEW myView1;
DROP VIEW myView2;
DROP VIEW myView3;

#2. 취창업 멘토링 : 이재홍 대표

프라이스 엔지니어  
모비인사이드  

K-startup 과 기업마당  -> 정부 지원사업  
지역 혁신센터에서 주관하는 사업은 꼭 참여하자  
strength Finder  
폴리매스  
10togo@daum.net

#3. 웹 어플리케이션

####CSS  
* DISPLAY Attribute : block,inline,inline-block, None  
* Visibility : hidden,   
* size : px, em, rem, %      -->font size에 따라 변한다.?
* rem -> 값이 유연하게 변하는

###css(html에 css꾸미기)   
1. inline  
2. internal style sheet < style  >
3. external style sheet href 외부스타일시트를 이용한..

In [ ]:
#templates파일의 accountapp파일의 hello_world.html에 size test
  <style>

    .testing{
        background-color: blue;
        height: 48px;
        width: 48px;
        margin: 1rem;
        border-radius: .5rem;
    }
    </style>
# internal style sheet
    <div class="testing" div style="display : inline-block">block</div>
    <div class="testing" div style="display : inline-block; width: 3rem; height: 3rem">block</div>
    <div class="testing" div style="display : inline-block; width: 3em; height: 3em">block</div>
    <div class="testing" div style="display : inline-block; width: 30%; height: 30%">block</div>

#rem, em, %, px test해보기
#

In [ ]:
#추가로 아주 간단한 모델. .? 만들기
#모델의 활성화
#accountapp package안에 models.py에 들어간다.
from django.db import models

# Create your models here.


class HelloWorld(models.Model):
    text = models.CharField(max_length=255, null=False)

#아주 간단한 모델
#terminal에 
python manage.py makemigrations 0001_iniatial
python manage.py migrate
#를 해주면
#migration package안에 0001_iniatial.py가 생성된다.

#당신을 위해 migration들을 실행시켜주고, 자동으로 데이터베이스 스키마를 관리해주는 migrate 명령어가 있습니다

migrate 명령은 아직 적용되지 않은 마이그레이션을 모두 수집해 이를 실행하며(Django는 django_migrations 테이블을 두어 마이그레이션 적용 여부를 추적합니다) 이 과정을 통해 모델에서의 변경 사항들과 데이터베이스의 스키마의 동기화가 이루어집니다.

마이그레이션은 매우 기능이 강력하여, 마치 프로젝트를 개발할 때처럼 데이터베이스나 테이블에 손대지 않고도 모델의 반복적인 변경을 가능하게 해줍니다. 동작 중인 데이터베이스를 자료 손실 없이 업그레이드 하는 데 최적화 되어 있습니다. 튜토리얼의 나머지 부분에서 이 부분을 조금 더 살펴보겠습니다만, 지금은 모델의 변경을 만드는 세 단계의 지침을 기억하세요.

#4. 알고리즘

스택 : Last in First out  
top pop push empty

In [ ]:
#스택문제
#정수를 저장하는 스택을 구현한 다음, 입력으로 주어지는 명령을 처리하는 프로그램을 작성하시오.
#명령은 총 다섯 가지 이다.
#1. push X : 정수 X를 스택에 넣는 연산이다.
#2. pop : 스택에서 가장 위에 있는 정수를 빼고, 그 수를 출력한다.
#       만약 스택에 들어있는 정수가 없는 경우엔 -1 출력
#3. size : 스택에 들어있는 정수의 개수 출력
#4. empty : 스택이 비어있으면 1, 아니면 0을 출력
#5. top : 스택의 가장 위에 있는 정수 출력, 만약 스택에 들어있는 정수가 없는 경우엔 -1 출력

In [ ]:
stack=[]
N=int(input())
for i in range(N):
  P=list(input().split())
  if P[0]=='push':             #push
    stack.append(P[1])

  elif P[0]=='top':           #top
    if len(stack)==0:
      print(-1)
    else:
      print(stack[-1])

  elif P[0]=='size':           #size
    print(len(stack))

  elif P[0]=='empty':           #empty
    if len(stack)==0:
      print(1)
    else:
      print(0)

  elif P[0]=='pop':     #pop
    if len(stack)==0:
      print(-1)
    else:
      print(stack.pop())

14
push 1
push 2
top
2
size
2
empty
0
pop
2
pop
1
pop
-1
size
0
empty
1
pop
-1
push 3
empty
0
top
3

In [ ]:
#append, remove, len 등을 사용하지 않고 만들어보기
N=int(input())
stack=[i for i in range(N)]
cnt=0
for i in range(N):
  P=list(input().split())
  if P[0]=='push':             #push
    stack[cnt]=P[1]
    cnt+=1

  elif P[0]=='top':           #top
    if cnt==0:
      print(-1)
    else:
      print(stack[cnt-1])

  elif P[0]=='size':           #size
    print(cnt)

  elif P[0]=='empty':           #empty
    if cnt==0:
      print(1)
    else:
      print(0)

  elif P[0]=='pop':     #pop
    if cnt==0:
      print(-1)
    else:
      print(stack[cnt-1])
      cnt-=1

14
push 1
push 2
top
2
size
2
empty
0
pop
2
pop
1
pop
-1
size
0
empty
1
pop
-1
push 3
empty
0
top
3