<a href="https://colab.research.google.com/github/yun-aha/GSTEC/blob/main/B_build_dtm_tfidf_class_5_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# install & import the libraries needed
!pip3 install pandas
!pip3 install scikit-learn
from typing import List
from math import log
import numpy as np
import pandas as pd
import random
from sklearn.metrics.pairwise import cosine_similarity
# for printing out all the columns of a pandas dataframe https://towardsdatascience.com/how-to-show-all-columns-rows-of-a-pandas-dataframe-c49d4507fcf
pd.set_option('display.max_columns', None)

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (0.22.2.post1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.0.1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn) (1.19.5)

In [ ]:
# The corpus
CORPUS = [
    'this is the first document',
    'the first document is this',
    'this is the second document',
    'and this is the third document',
    'is this the first document'
]

In [ ]:
# we will reuse the functions we completed in the previous tutorial
def tf(term: str, doc: str) -> int:
    # typing을 하는 이유: 오류를 미연에 방지하기 위해서 (단, IDE를 사용하는 경우에만)
    # 더 정확한 버전 (is가 this에 포함 문제가 되므로)
    tf = sum([
      word == term     
      for word in doc.split(" ")  # word count
    ])
    return tf


def build_dtm(corpus: List[str]) -> pd.DataFrame:
    """
    we reuse what we implemented in previous tutorial
    :param corpus:
    :return:
    """
    # build vocabulary - use nested list comprehension, set, and list
    words = [
        word
        for doc in corpus
        for word in doc.split(" ")
    ]
    vocab = list(set(words))

    # populate dtm, ith a nested for loop
    dtm = [
           [tf(term, doc) for term in vocab]  # row
           for doc in corpus
    ]

    # return dtm as a pandas dataframe
    dtm = pd.DataFrame(data=dtm, columns=vocab)
    return dtm

In [ ]:
# complete this function
def idf(term: str, corpus: List[str]) -> float:
    ### TODO 1 ###
    # idf = log(n / (1 + df))
    n = len(corpus)
    # df = term이 출현하는 문서의 개수.
    df =  sum([
          term in doc.split(" ")  # T F
          for doc in corpus
    ])
    idf = log(n / (1 + df))
    ##############
    return idf

In [ ]:
print(idf("this", CORPUS))
print(idf("eubin", CORPUS))

-0.1823215567939546
1.6094379124341003

In [ ]:
def build_dtm_with_tfidf(corpus: List[str]) -> pd.DataFrame:
    # access the columns with df.columns
    # multiply idfs to each row with numpy's broadcast mul
    dtm = build_dtm(corpus) # tf <- (non-binary dtm)
    ### TODO 2 ####
    # reuse dtm to build dtm_tfidf
    # use dtm.columns, idf, np.array(), dtm.to_numpy() and broadcast multiplication
    idfs: List[float] = [
                         idf(term, corpus)
                         for term in dtm.columns
    ]
    dtm_tfidf: List[List[float]] = dtm.to_numpy() *   # 리스트, 혹은 넘파이 배열
    ############### 
    return pd.DataFrame(data=dtm_tfidf, columns=dtm.columns)

In [ ]:
# build dtm, and one with  
dtm = build_dtm(CORPUS)
dtm_tfidf = build_dtm_with_tfidf(CORPUS)
print(dtm)
print(dtm_tfidf)

   document  first  the  third  is  and  second  this
0         1      1    1      0   2    0       0     1
1         1      1    1      0   2    0       0     1
2         1      0    1      0   2    0       1     1
3         1      0    1      1   2    1       0     1
4         1      1    1      0   2    0       0     1
   document     first       the     third        is       and    second  \
0 -0.182322  0.223144 -0.182322  0.000000 -0.364643  0.000000  0.000000
1 -0.182322  0.223144 -0.182322  0.000000 -0.364643  0.000000  0.000000
2 -0.182322  0.000000 -0.182322  0.000000 -0.364643  0.000000  0.916291
3 -0.182322  0.000000 -0.182322  0.916291 -0.364643  0.916291  0.000000
4 -0.182322  0.223144 -0.182322  0.000000 -0.364643  0.000000  0.000000

       this
0 -0.182322
1 -0.182322
2 -0.182322
3 -0.182322
4 -0.182322

다음과 같은 결과가 나와야 합니다 (단어의 순서는 달라도 괜찮습니다):
```
   the  and  third  this  is  first  document  second
0    1    0      0     1   2      1         1       0
1    1    0      0     1   2      1         1       0
2    1    0      0     1   2      0         1       1
3    1    1      1     1   2      0         1       0
4    1    0      0     1   2      1         1       0
        the       and     third      this        is     first  document  \
0 -0.182322  0.000000  0.000000 -0.182322 -0.364643  0.223144 -0.182322   
1 -0.182322  0.000000  0.000000 -0.182322 -0.364643  0.223144 -0.182322   
2 -0.182322  0.000000  0.000000 -0.182322 -0.364643  0.000000 -0.182322   
3 -0.182322  0.916291  0.916291 -0.182322 -0.364643  0.000000 -0.182322   
4 -0.182322  0.000000  0.000000 -0.182322 -0.364643  0.223144 -0.182322   

     second  
0  0.000000  
1  0.000000  
2  0.916291  
3  0.000000  
4  0.000000  

```

In [ ]:
# compare the two
print(cosine_similarity(dtm.to_numpy(), dtm.to_numpy()))
print(cosine_similarity(dtm_tfidf.to_numpy(), dtm_tfidf.to_numpy()))

[[1.         1.         0.875      0.82495791 1.        ]
 [1.         1.         0.875      0.82495791 1.        ]
 [0.875      0.875      1.         0.82495791 0.875     ]
 [0.82495791 0.82495791 0.82495791 1.         0.82495791]
 [1.         1.         0.875      0.82495791 1.        ]]
[[1.         1.         0.4227912  0.31662902 1.        ]
 [1.         1.         0.4227912  0.31662902 1.        ]
 [0.4227912  0.4227912  1.         0.16251445 0.4227912 ]
 [0.31662902 0.31662902 0.16251445 1.         0.31662902]
 [1.         1.         0.4227912  0.31662902 1.        ]]

다음과 같은 결과가 나와야 합니다:
```
[[1.         1.         0.875      0.82495791 1.        ]
 [1.         1.         0.875      0.82495791 1.        ]
 [0.875      0.875      1.         0.82495791 0.875     ]
 [0.82495791 0.82495791 0.82495791 1.         0.82495791]
 [1.         1.         0.875      0.82495791 1.        ]]
[[1.         1.         0.4227912  0.31662902 1.        ]
 [1.         1.         0.4227912  0.31662902 1.        ]
 [0.4227912  0.4227912  1.         0.16251445 0.4227912 ]
 [0.31662902 0.31662902 0.16251445 1.         0.31662902]
 [1.         1.         0.4227912  0.31662902 1.        ]]

```

## 다음의 질문에 답해주세요!

> `dtm`으로 구한 유사도 행렬 대비, `dtm_tfidf`로 구한 유사도 행렬은 어떤 점이 개선되었나요? 그 이유는?

> `dtm_tfidf`로도 해결할수 없는 문제를 발견할 수 있나요?