<a href="https://colab.research.google.com/github/yun-aha/GSTEC/blob/main/210702.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. 빅데이터 분석

* CRUD - Create, Read, Update, Delete

In [ ]:
#ROUND함수(,)
SELECT Name AS Country,Round(Population/SurfaceArea,1) As "Population Density" FROM Country ORDER BY Population;

#서로 다르게 정렬
SELECT Name,Continent FROM Country ORDER BY Continent DESC,Name;

#단계별로 select
SELECT Name,Code FROM(SELECT Code,Name, Continent FROM COUntry);

#PRIMARY KEY AUTOINCREMENT
PRIMARY KEY AUTOINCREMENT   #PRIMARY KEY = unique not null  #autoincrement  #최고 높은거 다음으로 1씩 증가

* SQLite의 "기초 자료형" 5가지
1. NULL : 결측치  
2. INTEGER : 8바이트로 표현할 수 있는 정수  
3. REAL : 8바이트로 표현할 수 있는 실수  
4. TEXT : 길이에 제약이 없는 문자열  
5. BLOB : 입력된 자료를 원형 그대로 저장  
* 부울형 storage class는 없다.  
* CHAR(n)은 n개의 문자 길이로 고정된 문자열 의미  
* VARCHAR(n)은 최대 n개의 문자까지 유동적인 길이의 문자열 의미

In [ ]:
#데이터 베이스 & 테이블의 생성과 변경
CREATE TABLE myTB(a INT, b TEXT);     #새롭게 테이블 생성(및 추가)
SELECT*FROM sqlite_master WHERE TYPE="table"; #SQLite에서 테이블 목록 확인
INSERT INTO myTB VALUES(1,'foo');
SELECT*FROM myTB;
DROP TABLE myTB;  #테이블 삭제
SELECT*FROM customer; #'customer'테이블 출력
CREATE TABLE customer2 AS SELECT id,name,zip from customer; #'customer'바탕으로 'customer2'생성

#테이블 생성시 컬럼의 자료형을 명시할 수 있다. CHAR,VARCHAR = TEXT형
# CHAR(n) = 길이 고정적, VARCHAR(n) = 최대 길이가 n까지
CREATE TABLE test(
    id INTEGER,
    name VARCHAR(255),
    address VARCHAR(255),
    city VARCHAR(255),
    state CHAR(2),
    zip CHAR(10)
                    );
INSERT INTO test VALUES(1,"John","Main ST.12","Seattle","WA",92105);
INSERT INTO test VALUES('A',"John","Main ST.123","Seattle","WA",92100); #중복도 가능하고, SQLite에서는 다른 자료형을 넣어도 작동한다.


CREATE TABLE test(
    a INTEGER NOT NULL,    #'a'에 NULL을 허용하지 않는다.
    b VARCHAR(255)
                  );
INSERT INTO test VALUES(1,"John");
INSERT INTO test(a,b) VALUES (NULL,"DAVID"); #NULL은 안된다. 오류
INSERT INTO test(b) VALUES ('PAUL');   #오류


CREATE TABLE test(
    a INTEGER NOT NULL DEFAULT 0,           #'a'에는 default값 설정
    b VARCHAR(255) UNIQUE NOT NULL          #'b'에는 중복 허용x
                );
INSERT INTO test (a,b) VALUES (3,"SALLY");
INSERT INTO test (b) VALUES('PAUL');        #'a'에 default값 0이 들어간다.
INSERT INTO test (a,b) VALUES (NULL,'David');  #오류
INSERT INTO test VALUES (4,"SALLY");          #오류, 중복 허용x


CREATE TABLE test(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    a VARCHAR(255),
    b VARCHAR(255)  
                );
INSERT INTO test(a,b)VALUES('one','two');    #id로 1 자동 삽입
INSERT INTO test VALUES (5,'five','six');
INSERT INTO test(a,b)VALUES('seven','eight');   #id로 6자동 삽입

#2. 취업멘토링

박영숙 저서
https://www.google.com/search?q=%EB%B0%95%EC%98%81%EC%88%99+%EC%A0%80%EC%84%9C&stick=H4sIAAAAAAAAAONgFuLVT9c3NEypKLSsSrYoVELlakllJ1vpJ-XnZ-snlpZk5BdZgdjFCvl5OZWLWAVeb5j6Zkbjm46ZCm8WNLxpmbODlREAlabhHFIAAAA&sa=X&ved=2ahUKEwiqnOH5vMPxAhWMMZQKHX42DgUQzTooATAfegQIHBAC&biw=1536&bih=722